---

- name: Generate keystone config
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "root"
    group: "{{ keystone_developer_mode | bool | ternary('root', 'nova') }}"
    mode: "0640"
    backup: "yes"
  with_items:
    - src: "keystone.conf.j2"
      dest: "{{ keystone_conf_path ~ '/keystone.conf'}}"
  #notify: Restart nova compute
  tags:
    - keystone-config
    - keystone-post-install

