---
# tasks file for roles/rabbitmq
#
- name: Install OpenStack repository
  yum:
    name: centos-release-openstack-ocata
    state: present

#- name: upgrade all packages
#  yum:
#    name: '*'
#    state: latest

- name: Install Rabbitmq
  yum:
    name: rabbitmq-server 
    state: present

- name: Start rabbitmq-server
  systemd:
    name: rabbitmq-server
    state: started
    enabled: true

- name: Add rabbitmq user
  rabbitmq_user:
    user: openstack
    password: openstack
    vhost: /
    configure_priv: .*
    read_priv: .*
    write_priv: .*
    state: present

