#[DEFAULT]
#[ml2]
#type_drivers = flat,vlan,gre,vxlan
#tenant_network_types =
#extension_drivers = port_security
##mechanism_drivers = openvswitch,l2population
#mechanism_drivers = openvswitch,linuxbridge
#
#[ml2_type_flat]
##flat_networks = provider-flat
#
#[ml2_type_geneve]
#[ml2_type_gre]
#[ml2_type_vlan]
#network_vlan_ranges = provider-vlan
#[ml2_type_vxlan]
#[securitygroup]
#enable_ipset = true
#firewall_driver = neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
#
#[agent]
#root_helper_daemon = sudo /usr/bin/neutron-rootwrap-daemon /etc/neutron/rootwrap.conf
#root_helper = sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf
#
#[ovs]
#bridge_mappings = provider-vlan:br-provider

[DEFAULT]
debug = true
[agent]
[ovs]
#bridge_mappings = provider:br-provider
bridge_mappings = br-provider:br-provider
[securitygroup]
#firewall_driver = iptables_hybrid
firewall_driver = neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
[ml2]
type_drivers = flat,vlan
tenant_network_types = 
extension_drivers = port_security
mechanism_drivers = openvswitch,linuxbridge
[ml2_type_flat]
flat_networks = provider


[ml2]
type_drivers = flat,vlan
tenant_network_types =
extension_drivers = port_security
mechanism_drivers = openvswitch,linuxbridge
[ml2_type_flat]
flat_networks = provider
[ml2_type_vlan]
network_vlan_ranges = br-provider
