[DEFAULT]
[database]
connection = mysql+pymysql://{{ glance_mysql_user }}:{{ glance_mysql_password }}@{{ groups['controller'][0] }}/{{ glance_mysql_database }}
[keystone_authtoken]
auth_uri = http://{{ groups['controller'][0] }}:5000
auth_url = http://{{ groups['controller'][0] }}:35357
memcached_servers = {{ groups['controller'][0] }}:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = {{ glance_mysql_user }}
password = {{ glance_mysql_password }}
[matchmaker_redis]
[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_messaging_zmq]
[oslo_policy]
[paste_deploy]
flavor = keystone
[profiler]

