[base]
name=base
baseurl=http://10.100.11.249:81/centos/7/os/$basearch
enabled=1
gpgcheck=0
priority=1

[update]
name=update
baseurl=http://10.100.11.249:81/centos/7/updates/$basearch
enabled=1
gpgcheck=0
priority=2

[extras]
name=extras
baseurl=http://10.100.11.249:81/centos/7/extras/$basearch
enabled=1
gpgcheck=0
priority=2

[centosplus]
name=centosplus
baseurl=http://10.100.11.249:81/centos/7/centosplus/$basearch
enabled=1
gpgcheck=0
priority=2

[epel]
name=epel $releasever
baseurl=http://10.100.11.249:81/epel/7/x86_64/
enabled=1
gpgcheck=0
priority=1

